build --genrule_strategy=standalone
build --spawn_strategy=standalone
build --workspace_status_command scripts/release/status.sh
build --experimental_action_listener=tools/java:compile_java
build --experimental_action_listener=tools/python:compile_python

